<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error - Pin Storage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
</head>
<body>

    <nav>
        <a href="/"><h1>Pin Storage</h1></a>

        <ul>
            <li><a href="">Store data</a></li>
            <li><a href="">Get data</a></li>
            <li><a href="">About</a></li>
        </ul>
    </nav>

    <main>
        <section class="container">
            <h2>404 Error - Page Not Found</h2>
            <p>We're sorry, but the page you're looking for cannot be found. Please check that the URL is correct, or try navigating to the homepage using the links above.</p>
        </section>
    </main>

    <footer>
        <p>Created by <a href="https://davidkresila.pythonanywhere.com/">Dávid Krešila</a></p>
    </footer>

</body>
</html>
