<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pin Storage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

    <nav>
        <a href=""><h1>Pin Storage</h1></a>

        <ul>
            <li><a href="storeData">Store data</a></li>
            <li><a href="">Get data</a></li>
            <li><a href="">About</a></li>
        </ul>
    </nav>

    <main>
        <section class="container">
            <p>afhsojdg vloh</p>
        </section>
    </main>

    <footer>
        <p>Created by <a href="https://davidkresila.pythonanywhere.com/">Dávid Krešila</a></p>
    </footer>
</body>
</html>
